
{% extends 'base.html.twig' %}
{% block admin_body %}

<div class="sidenav">
  <span><i class="fa fa-home home"></i><a href="#">Home</a></span>
  <span><i class="fa fa-list transactions"></i><a href="#services" class="transaction">Transactions</a></span>
  <span><i class="fa fa-newspaper-o reports"></i><a href="#clients">Reports</a></span>
  <span><i class="fa fa-cogs settings"></i><a href="#contact">Settings</a></span>
</div>

<div class="main">
  
</div> 

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}



{% endblock %}
